.benefit-card {
    height: 100%;
    border-radius: 5px;
    padding: 23px 33px;
    background-color: var(--background-2);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
}

.benefit-desc {
    margin: 0 auto;
    width: 60%;
}

h3 {
    font-family: var(--font-2);
    font-style: normal;
    font-weight: 300;
    font-size: var(--font-size-8);
    line-height: 23px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: var(--font-color-5);
}

p {
    font-family: var(--font-2);
    font-style: normal;
    font-weight: 300;
    font-size: var(--font-size-8);
    line-height: 23px;
    letter-spacing: 0.04em;

    color: var(--font-color-5);
}