.kind-desc {
    font-family: var(--font-2);
    font-style: normal;
    font-weight: 300;
    font-size: var(--font-size-8);
    line-height: 23px;
    letter-spacing: 0.04em;

    color: var(--font-color-5);
}

.tea-kind {
    display: grid;
    gap: 10px;

}

.tea-kind .btn-2 {
    justify-self: end;
}