<footer>
    <div class="logoWrapper" include-html="/public/html/components/logo.html"></div>
    <div class="footer__navlinks">
        <a class="nav-link" href="#">Sales</a>
        <a class="nav-link" href="#">Shop</a>
        <a class="nav-link" href="#">Contacts</a>
        <a class="nav-link" href="#">About us</a>
    </div>
    <div class="footer__social">
        <a class="footer__social-link" href="#"><img src="/public/img/facebook.svg" alt="facebook"></a>
        <a class="footer__social-link" href="#"><img src="/public/img/instagram.png" alt="instagram"></a>
        <a class="footer__social-link" href="#"><img src="/public/img/youtube.svg" alt="youtube"></a>
    </div>
    <div class="join">
        <h3>Join us and subscribe</h3>
        <form action="#">
            <input type="email" name="email" id="email" placeholder="e-mail">
            <input class="btn btn-2" type="submit" value="subscribe">
        </form>
    </div>
</footer>