<nav>
    <div class="nav-items">
        <a class="nav-link" href="#">Sales</a>
        <a class="nav-link" href="/shop">Shop</a>
        <a class="nav-link" href="#">About us</a>
    </div>
    <!-- /.nav-items -->
    <div class="logoWrapper" include-html="/public/html/components/logo.html"></div>
    <div class="nav-icons">
        <a href="/favorites"><img src="/public/img/favorites-icon.svg" alt="favorites link"></a>
        <a href="/profile"><img src="/public/img/profile-icon.svg" alt="profile link"></a>
        <a href="/cart"><img src="/public/img/cart-icon.svg" alt="cart link"></a>
    </div>
    <!-- /.nav-icons -->
</nav>